@model EvoucherBackOffice.Web.ViewModel.ConfirmVoucherViewModel
@{
    ViewBag.Title = "ConfirmVoucher";
}

<section class="confirm-voucher">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="confirm-voucher__logo-wrapper pull-right">
                    @Html.Partial("_Logo")
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="confirm-voucher__panel text-center">
                    <div class="confirm-voucher__panel-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="confirm-voucher__panel-header-title">Scan barcode or enter manually</h4>
                            </div>
                            <div class="col-md-2">
                                <div class="confirm-voucher__panel-nav-body dropdown pull-right">
                                    <a class="confirm-voucher__panel-nav-icon-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="confirm-voucher__panel-nav-icon glyphicon glyphicon-option-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="height:150px; width:290px; margin: 10px 30px 0px 0px;border-radius:0px;">
                                        <div class="confirm-voucher__panel-nav-item">
                                            <a class="experiences__panel-nav-item-link dropdown-item" href="@Url.Action("Index", "Home", null)">
                                                <p class="confirm-voucher__panel-nav-item-title-1">Previous Screen</p>
                                            </a>
                                            <a class="experiences__panel-nav-item-link dropdown-item" href="@Url.Action("Experiences", "Experience", null)">
                                                <p class="confirm-voucher__panel-nav-item-title-2">New Voucher</p>
                                            </a>
                                            <a class="experiences__panel-nav-item-link dropdown-item" href="@Url.Action("Login", "Account", null)">
                                                <p class="confirm-voucher__panel-nav-item-title-3">Log Out</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="confirm-voucher__panel-form">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="confirm-voucher__panel-form-input-wrapper">
                                        @Html.TextBoxFor(m => m.VoucherToken, new { @class = "confirm-voucher__panel-form-input form-control", placeholder = "e-mail address", type = "text" })
                                    </div>
                                </div>
                                <div class="confirm-voucher__panel-form-item-error col-md-12">
                                    @Html.ValidationMessageFor(m => m.VoucherToken)
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="confirm-voucher__panel-form-button" type="submit">
                                    <span class="fa fa-arrow-right fa-3x fa-inverse"></span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


