@model EvoucherBackOffice.Web.ViewModel.Account.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-5">
                @Html.Partial("_Logo")
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="login__panel text-center">
                    <div class="login__panel-header">
                        <h6 class="login__panel-header-title">Login</h6>
                    </div>
                    <div class="login__panel-form">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="login__panel-form-item-wrapper">
                                        <div class="login__panel-form-icon-wrapper">
                                            <span class="fa fa-envelope fa-inverse fa-2x"></span>
                                        </div>
                                        <div class="login__panel-form-input-wrapper">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "login__panel-form-input form-control", placeholder = "E-mail", type = "text" })
                                        </div>
                                    </div>
                                </div>
                                <div class="login__panel-form-item-error col-md-12">
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="login__panel-form-item-wrapper">
                                        <div class="login__panel-form-icon-wrapper">
                                            <span class="fa fa-lock fa-inverse fa-2x"></span>
                                        </div>
                                        <div class="login__panel-form-input-wrapper">
                                            @Html.TextBoxFor(m => m.Password, new { @class = "login__panel-form-input form-control", placeholder = "Password", type = "text" })
                                        </div>
                                    </div>
                                </div>
                                <div class="login__panel-form-item-error col-md-12">
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="login__panel-form-button" type="submit">
                                    <span class="fa fa-arrow-right fa-3x fa-inverse"></span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="login__other-info-wrapper text-center align-content-center">
                    <a class="login__other-info-title-link" href="@Url.Action("ForgotPassword", "Account", null)">
                        <p class="login__other-info-title">Forgot Password?</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>