@model EvoucherBackOffice.Web.ViewModel.Account.LoginViewModel
@{
    ViewBag.Title = "Login";
}


<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="login__logo-wrapper pull-right">
                    @Html.Partial("_Logo")
                </div>
            </div>
            <div class="col-md-7 offset-md-3">
                <div class="login__panel text-center">
                    <div class="login__panel-header">
                        <h4 class="login__panel-header-title">Login</h4>
                    </div>
                    <div class="login__panel-form">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="login__panel-form-item-wrapper">
                                        <div class="login__panel-form-icon-wrapper-1">
                                            <span id="myLabel-1" class="fa fa-envelope fa-2x"></span>
                                        </div>
                                        <div class="login__panel-form-input-wrapper">                                        
                                            @Html.TextBoxFor(m => m.Email, new { @class = "login-input form-control", placeholder = "E-mail", id="myInput-1" })
                                        </div>
                                    </div>
                                </div>
                                <div class="login__panel-form-item-error-1 col-md-12">
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="login__panel-form-item-wrapper">
                                        <div class="login__panel-form-icon-wrapper-2">
                                            <span id="myLabel-2" class="fa fa-lock fa-2x"></span>
                                        </div>
                                        <div class="login__panel-form-input-wrapper">
                                            @Html.TextBoxFor(m => m.Password, new { @class = "login-input form-control", placeholder = "Password", id = "myInput-2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="login__panel-form-item-error-2 col-md-12">
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="login__panel-form-button" type="submit">
                                    <span class="fa fa-arrow-right fa-3x fa-inverse"></span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="login__other-info-wrapper text-center pull-right">
                    <a class="login__other-info-title-link" href="@Url.Action("ForgotPassword", "Account", null)">
                        <p class="login__other-info-title">Forgot Password?</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myInput-1").focusin(function () {
            $("#myLabel-1").css("color", "black");
        });
        $("#myInput-1").focusout(function () {
            $("#myLabel-1").css("color", "white");
        });

        $("#myInput-2").focusin(function () {
            $("#myLabel-2").css("color", "black");
        });
        $("#myInput-2").focusout(function () {
            $("#myLabel-2").css("color", "white");
        });
    });
</script>