@model EvoucherBackOffice.Web.ViewModel.CustomerDetailViewModel
@{
    ViewBag.Title = "Add Customer Info";
}

<section class="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="checkout__panel">
                    <div class="checkout__panel-header text-center">
                        <div class="row">
                            <div class="col-md-7">
                                <h4 class="checkout__panel-header-title">New Voucher</h4>
                            </div>
                            <div class="col-md-5">
                                <div class="checkout__panel-nav-body dropdown pull-right">
                                    <a class="checkout__panel-nav-icon-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="checkout__panel-nav-icon glyphicon glyphicon-option-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="height:100px; width:290px; margin: 10px 30px 0px 0px;border-radius:0px;">
                                        <div class="checkout__panel-nav-item">
                                            <a class="checkout__panel-nav-item-link dropdown-item" href="@Url.Action("ConfirmVoucher", "Voucher", null)">
                                                <p class="checkout__panel-nav-item-title-1">Redeem Voucher</p>
                                            </a>
                                            <a class="checkout__panel-nav-item-link dropdown-item" href="@Url.Action("Login", "Account", null)">
                                                <p class="checkout__panel-nav-item-title-2">Log Out</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__panel-body">
                        <div class="checkout__panel-form">
                            @using (Html.BeginForm("Action", "Cart"))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "checkout-input form-control", placeholder = "Customer's First Name" })
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkout__panel-form-item-error">
                                            @Html.ValidationMessageFor(m => m.FirstName)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.SecondName, new { @class = "checkout-input form-control", placeholder = "Customer's Second Name" })
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkout__panel-form-item-error">
                                            @Html.ValidationMessageFor(m => m.SecondName)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "checkout-input form-control", placeholder = "Customer's Email Address" })
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkout__panel-form-item-error">
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div class="checkout__panel-form-button-wrapper">
                                        <input class="checkout__panel-form-button-1" name="UseLater" type="submit" value="USE LATER" />
                                        <input class="checkout__panel-form-button-2" name="UseNow" type="submit" value="USE NOW" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



